/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Franjas azules */
.header-top {
    background-color: #0d1626;
    padding: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.logo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.background-image {
    background-image: url('Franja.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title h1 {
    font-size: 56px;
    color: #000000;
    margin: 0;
}

.title h2 {
    font-size: 28px;
    color: #000000;
    margin: 0;
}

/* Contenido Principal */
.main-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Otros estilos (deja tus estilos adicionales aquí si los tienes) */
