/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Franjas azules */
.header-top {
    position: relative;
    background-color: #0d1626;
    color: #ffffff;
    text-align: center;
}

.background-image {
    background-image: url('Franja.png'); /* Cambia el nombre de la imagen aquí */
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; /* Ajusta la opacidad según sea necesario */
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    font-size: 56px;
    margin: 0;
}

.title h2 {
    font-size: 28px;
    margin: 0;
}

/* Sección de Contenido Principal */
.main-content {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    padding: 20px;
}

.main-content p {
    font-size: 16px; /* Tamaño del texto principal */
    margin-bottom: 20px; /* Espacio entre párrafos */
}
/* ... (tu código CSS original) ... */

/* Galería de Imágenes */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    flex: 0 0 calc(50% - 20px); /* Cambiado a 50% */
    max-width: calc(50% - 20px); /* Cambiado a 50% */
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* ... (tu código CSS original) ... */

/* Galería de Imágenes */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Estilo para la imagen con efecto de persiana */
.parallax-container {
    overflow: hidden;
    position: relative;
    max-height: 400px; /* Altura máxima de la imagen */
}

.parallax-image {
    max-width: 100%; /* Hacer la imagen responsive */
    height: auto;
    transform: translateY(0); /* Restablece la posición inicial */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

/* Botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Asegura que el botón de WhatsApp esté en la parte superior */
}

.whatsapp-button img {
    width: 40px; /* Tamaño del icono de WhatsApp ajustado */
}

/* Llamado a la Acción */
.call-to-action {
    background-color: #0d1626; /* Azul oscuro */
    text-align: center;
    padding: 20px;
}

.cta-box {
    padding: 20px;
    border-radius: 10px;
}

/* Texto en blanco */
.white-text {
    color: #ffffff; /* Texto en blanco */
    font-size: 16px; /* Tamaño del texto */
}
