/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1626; /* Azul oscuro */
    color: #ffffff; /* Texto en blanco */
}

/* Encabezado */
header {
    position: relative;
}

.header-top {
    background-color: transparent;
    text-align: left;
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-top .logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.header-top .logo img {
    width: 100%;
    height: auto;
}

.header-top h1 {
    font-size: 28px;
    margin: 0;
}

.header-bottom {
    background-color: #0d1626; /* Azul oscuro */
    height: 10px;
}

/* Sección de Contenido Principal */
.main-content {
    padding: 20px;
}

.exam-names {
    font-weight: bold;
    color: #072450; /* Azul más oscuro para énfasis */
}

.main-content p {
    font-size: 16px; /* Tamaño del texto principal */
    margin-bottom: 20px; /* Espacio entre párrafos */
}

/* Botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-button img {
    width: 60px; /* Tamaño del icono de WhatsApp */
}

/* Llamado a la Acción */
.call-to-action {
    background-color: #0d1626; /* Azul oscuro */
    text-align: center;
    padding: 20px;
}

.cta-box {
    padding: 20px;
    border-radius: 10px;
}

.cta-box p {
    font-size: 18px; /* Tamaño del texto del llamado a la acción */
    margin-bottom: 20px; /* Espacio entre párrafos */
}

.cta-box a {
    display: inline-block;
    background-color: #072450; /* Azul más oscuro */
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-box a:hover {
    background-color: #0d1626; /* Azul oscuro */
}